PORT=
NODE_ENV=

MONGO_URI=

JWT_SECRET=
JWT_EXPIRES_IN=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

JWT_ACCESS_EXPIRES=
JWT_REFRESH_EXPIRES=

COOKIE_EXPIRES_DAYS=


EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

FRONTEND_URL=